{% include "header.html" %}
  <h1>For You</h1>
  <table>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Tag</th>
      <th>Seller</th>
    </tr>
    {% for product in product_list %}
      <tr>
        <td>
          <a href="productdetails?code={{product["code"]}}">
            <img src='static/images/product3.jpg' width=100px>
          </a>
        </td>
        <td>{{product["product_name"]}}</td>
        <td>{{product["description"]}}</td>
        <td>{{product["interest_tags"]}}</td>
        <td>{{product["seller_name"]}}</td>
      </tr>
      {% endfor %}
  </table>
{% include "footer.html" %}
