<head>
  <link rel="stylesheet" href="static/styles.css" type="text/css">
</head>

<div class="header">
  <img src="/static/images/logo.png" height=60px>
  {% if session["user"] is defined %}
    <a href='/logout'>Logout</a>
    <a href='/changepassword'>Change Password<a>
    <a href="/account">Account</a>
    <a href='/history'>Purchase History<a>
    <a href='/cart'>View Cart</a>
    <a href='/following'>Following</a>
	{% else %}
	<a href='/login'>Login</a>
  <a href='/register'>Register</a>
	{% endif %}
  <a href="/">Home</a>
</div>
