{% include "header.html" %}

    <h1>Product Details</h1>
    <table>
      <td rowspan="7"><img src="static/images/{{product['picture']}}" alt="product{{ code }}"></td>
      <tr>
        <th colspan="2">{{product['product_name']}}</th>
      </tr>
        <tr><td>Code</td><td>{{ code }}</td></tr>
        <tr><td>Item</td><td>{{ product['description']}}</td></tr>
        {% if session["user"] is defined %}
          <tr><td width = 60px><a href="/mine?code={{ code }}">Mine</a></td>
            <td>{{ product["price1"]}}</td></tr>
          <tr><td width = 60px><a href="/grab?code={{ code }}">Grab</a></td>
            <td>{{ product["price2"]}}</td></tr>
          <tr><td width = 60px><a href="/steal?code={{ code }}">Steal</a></td>
            <td>{{ product["price3"]}}</td></tr>
        {% else %}
        <tr><td>Price</td><td>{{ product["price1"]}} to {{ product["price3"]}}</td>
        {% endif %}
    </table>
    <br>
    <a href="/">Back</a>

{% include "footer.html" %}
